@import '~/css/core.light.css'; 

button, label, stack-layout {
    horizontal-align: center;    
}

/*#root {
    padding: 10%;
    background-color: darkred;
}*/

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

#white, #black {
    width: 100%;
}

.small {
    font-size: 18;
}

Label.left, Label.right {
    background-color: rgb(155, 178, 155);
    font-family: Courier New, Courier, monospace;
    font-size: 54;
    width: 100%;
    text-align: center;
}

/*Label.left {
    text-align: ce;
    horizontal-align: left;
}

Label.right {
    text-align: right;
    horizontal-align: right;
}*/

#white {
    background-color: #eee;
}

#black {
    background-color: #111;
}
